/* General Style */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.input{
position: absolute;
padding-left: 90%;
}

body{
font-family: 'Roboto', sans-serif;
line-height: 1.4;
}

a{
  text-decoration: none;
}

p{
  margin: 0.75rem 0;
}

.largeHeading{
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn-dark{
  background: #333;
  color: #fff;
  border: none;
}
.text-center{
  text-align: center;
}
.text-primary{
  color: #f73d3d;
}

.bg-ligh{
  background: #f4f4f4;
  color: #333;
}

.bg-dark{
  background: #333;
  color: #fff;
}

.bg-primary{
  background: #e59866;
  color: #fff;
}

.list{
  margin: 0.5rem 0;
  list-style: none;
}

.list li{
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

.ypos-1{ padding: 1.5rem 0; }
.ypos-2{ padding: 2rem 0; }
.ypos-3{ padding: 3rem 0; }

.p-1{ padding: 1.5rem; }
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }
/* End of Global Styling */
/* Style for NavBar Classes */

/* Navbar */
#navbar .text-primary a{
  color: inherit;
  text-decoration: none;
}

#navbar{
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}
/* The Links Inside The Navbar */
#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding:0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{
  background: #f73d3d;
  border-radius: 5px;
}
/* End of Navbar Styling */
/* Header */
#showcase{
  background: #333 url('../images/background.gif') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}
/* Header Content */
#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* The Button for " Read More "  */
.btn{
  display: inline-block;
  color: #fff;
  background: #2c3e50;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  transition: .6s;
  width: 240px; 
}

.btn:hover{
  background: #901c1c;
}
/* End of Header + Button Styling */

/* Styling for the Section: How to use */
.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

#placeid{
  display: none;
}
#map #infowindow-content {
  display: inline;
}

.text-center{
  text-align: center;
}

.mediumHeading{
 font-size: 2rem;
 margin-bottom: 0.75rem;
 line-height: 1.1;
}

#how .items{
  display: flex;
  padding: 1rem;
}

#how .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#how .items .item i {
  background: #f73d3d;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/* END of Styling How To Use Section */
/* Section: The Map */
#contact{
  display:flex;
}

#contact .map, #contact .contact-form{
  flex: 1;
}
#contact .contact-form .form-group{
  margin: 0.75rem;
}

#contact .contact-form label{
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
/* Styling the map search bar */
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  border: 1px solid #2c3e50;
  margin-top: 20px;
  text-overflow: ellipsis;
  width: 800px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
/* End for the Map Section */
/* Styling Search-box for sending placeID to back-end */
.c{
  position: absolute;
  padding: auto;
  left: 50%;
  margin-top: 10px;
  padding-top: 20px;
  transform: translate(-60%, -150%);
}
.search-box-input, .search-box-btn{
  border: none;
  background: none;
  outline: none;
}
.search-box-btn{
  cursor: pointer;
}
.search-box{
  display: flex;
  background: #4d90fe;
  border-radius: 3em;
}
.search-box-input{
  width: 0;
  font-size: 1em;
  color: #fff;
  transition: .5s;
}
.search-box-btn{
  display: flex;
  border-radius: 30%;
  width: 3em;
  height: 3em;
  background:#f73d3d;
  transition: .3s;
}
.search-box-icon{
  margin: auto;
  color: black;
}
.search-box-input::placeholder{
  color: white;
  opacity: .7;
}
.search-box:hover .search-box-input{
  padding-left: 2em;
  padding-right: 1em;
  width: 280px;
}
.search-box-btn:active{
  transform: scale(.75);
}
/* End of styling the Searchbox for back-end */
/* Styling for the Section: Who We Are */
.container{
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center{
  text-align: center;
}

.mediumHeading{
 font-size: 2rem;
 margin-bottom: 0.75rem;
 line-height: 1.1;
}

#who .items{
  display: flex;
  padding: 1rem;
}

#who .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#who .items .item i {
  background: #f73d3d;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/* END of Styling Who We Are Section */
/* Styling For What We Do Section */
#what{
  display: flex;
}
#what div{
  flex: 1;
}

#what .what-img{
  background: url('../images/0\ KHvZM6yQ8XXYbTE5.gif') no-repeat center center/cover;
}
/* End for What We Do Section */
/* Styling for Our Services Section */
#services .items{
  display: flex;
}

#services .items img{
  display: block;
  margin: auto;
  width: 60%;
}

#services .items span{
  padding-left: 35%;
  font-size: 20px;
  font-weight: bold;
}

.container .small{
  text-align: center;
  font-size: 1.5rem;
}
