<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--fontawesome.con CDN for icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  <!-- Main Styling File -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- Mobile Styling File -->
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="../static/css/mobile.css">

  <!-- WideScreen Styling File -->
  <link rel="stylesheet" media="screen and (min-width: 1100px)" href="../static/css/widescreen.css">

  <title>Indoor Traffic System</title>
</head>
<body id="home">

  <!-- The Navbar -->
  <nav id="navbar">
    <h1 class="logo">
      <span class="text-primary">
      <a href="#home"><i class="fas fa-city"></i> Indoor Traffic
      </span></a>System
    </h1>
  </nav>

  <!-- The Header -->
  <header id="showcase">
    <div class="showcase-content">
      <h1 class="largeHeading">
      </h1>
      <p class="lead">
        {{p}}
      </p>
    </div>
  </header>
  </body>